doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimal-ui")
    title hitokara trace
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdn.rawgit.com/phi-jp/meltline/v0.1.0/meltline.css")
    link(rel="stylesheet" href="css/style.css")
  body
    div#ham.absolute.t30.r40
      i(aria-hidden="true").fa.fa-bars.fs20.color1
    div#mFloatMenu
    header.pt20
      div#logo.text-center
        img(src="images/hitokara_top_logo.png").w200
      //- desktop の時に始めからでている menu
      div#lMenu
      //- hamMenu を押したらでてくる menu
      div#sMenu.mt5.mb40
        ul.px40.fs13.gray
          li.row
            div.col10.border-right.my-border2.py15.pl30
              a(href="#") 事業内容
            div.col2.f.fh
              i(aria-hidden="ture").menuPlus.fa.fa-plus.color3.fs21
          ul.bg-color2
            li.py15.pl40: a(href="#") オフィス選定・仲介
            li.py15.pl40: a(href="#") 空間プランニング
            li.py15.pl40: a(href="#") 居抜きオフィス移転
            li.py15.pl40: a(href="#") ビルオーナー支援
            li.py15.pl40: a(href="#") スイッチオフィス
            li.py15.pl40: a(href="#") パターンオーダーオフィス
            li.py15.pl40: a(href="#") タウナー不動産 軽井沢
            li.py15.pl40: a(href="#") 軽井沢ワープ
          li.row
            div.col10.border-right.my-border2.py15.pl30
              a(href="#") 会社情報
            div.col2.f.fh
              i(aria-hidden="ture").menuPlus.fa.fa-plus.color3.fs21
          ul.bg-color2
            li.py15.pl40: a(href="#") メンバー紹介
            li.py15.pl40: a(href="#") オフィス紹介
            li.py15.pl40: a(href="#") カルチャー
            li.py15.pl40: a(href="#") 会社情報
          li.py15.pl30: a(href="#") 採用情報
          li.py15.pl30: a(href="#") お知らせ
          li.py15.pl30: a(href="#") 記事一覧
          li.py15.pl30: a(href="#") お問い合わせ

    section#bgHead.py120.f.fh.mt30
      div
        div.white.fs34.mb30.bold.text-center オフィス選定・仲介
        div.border.border-white.w40.h0.mx-auto.mb30
        div.text-center.white.fs14.lh20
          |企業の成長戦略に沿った移転要件決め、
          br
          |審査のフォロー、居抜き移転のサポート、
          br
          |いまのスタートアップ・ベンチャーに
          br
          |求められる移転農法を提供します。
    section#content1.px30.pt100.pb60
      div.px10
        div.fs24.bold ベンチャー・スタートアップのオフィス移転は難しい？
        div.mt30.bold.lh-my1.fs14 企業の規模拡大に伴い、必ず発生する「オフィス移転」。近年は急成長するベンチャー・スタートアップ企業が増えてきており、メンバーの増加スピードも増し、オフィス移転の頻度も上がってきました。その拡大スピード故、「見立てが甘く、移転して半年ですぐに手狭になってしまった」という声あれば、資金調達を行いながら事業拡大を行うスタートアップ企業からは「移転したいけどまだマネタイズができていないため審査がなかなか通らない」といった声をよく耳にします。そもそも「どれくらいの広さ、賃料のオフィスを選べばよいか分からない」という声も。
      div.mt80
        div.fs24.bold ただの「引越し」ではないオフィス移転
        div.mt30.bold.lh-my1.fs14 オフィス移転を、事業拡大に伴いオフィスを物理的に広くするだけ、と考えてしまうといろんな落とし穴にはまる可能性があります。なぜなら、オフィス移転は多くの企業にとって「最も高額な投資」にあたります。数百万〜数千万、規模が大きければ数億のキャッシュが必要です。本来であれば、賃料や更にその次の移転を見越した財務戦略、どれくらいのペースでメンバーを増やしていくのかの採用計画、このあたりからオフィス移転の要件を練っていく必要があります。
      div.mt80
        div.fs24.bold 経営観点から、「最善」の移転先を
        div.mt30.bold.lh-my1.fs14 企業の規模に問わず、経営観点でのロジカルな判断が必要になるオフィス移転。だからこそ必要なのが、オフィス移転のプロの目線。ヒトカラメディアは成長企業のオフィス移転に関する豊富な知見から、立地や広さのアドバイスはもちろん、新オフィス契約後にかかる内装費なども考慮したオフィス選定を行います。近年、にずが高まる居抜きオフィス物件も積極的にサポートしています。
        div.mt10.bold.lh-my1.fs14 莫大な費用がかかるオフィス移転を、ただの引っ越しではなく、「企業の成長」のための土台にする。そこで働くメンバーがよりいきいきと働けるような環境を実現する。ヒトカラメディアは、コストではなく、将来への投資としてオフィス移転をプロデュースします。

    section#content2.px30
      div.text-center.fs24.bold.mb50 ヒトカラメディアの強み
      div.bg-color2.row.fh.px30.py50.text-center.my30
        i(aria-hidden="true").fa.fa-address-card-o.color1.col12.mb20.fs26
        div.fs16.col12.mb30
          |経営戦略に沿った
          br
          |要件定義
        div.fs13.col12 "なんとなく"で決めるのではなく、経営観点から納得感を持って進められる要件定義をサポート
      div.bg-color2.row.fh.px30.py50.text-center.my30
        i(aria-hidden="true").fa.fa-building-o.color1.col12.mb20.fs26
        div.fs16.col12.mb30
          |新たな視点を与える
          br
          |物件選定
        div.fs13.col12 希望条件のみならず、要件を満たせる可能性のある提案型の物件選定
      div.bg-color2.row.fh.px30.py50.text-center.my30
        i(aria-hidden="true").fa.fa-envelope-open-o.color1.col12.mb20.fs26
        div.fs16.col12.mb30 きめ細やかな審査対応
        div.fs13.col12 ベンチャー・スタートアップ企業が悩みがちな、「入居審査」を最大限サポート
      div.bg-color2.row.fh.px30.py50.text-center.my30
        i(aria-hidden="true").fa.fa-spinner.color1.col12.mb20.fs26
        div.fs16.col12.mb30
          |居抜きでの
          br
          |入退去サポート
        div.fs13.col12 内装構築費・原状回復費を大幅に抑えられる「居抜き」での入退去を積極的にサポート

    section#content3.py60
      div.text-center.fs24.bold.py30 サービス提供の流れ
      div.row.my30.px60
        div.col12.px20.my10
          div.color1.circle.my-border.w70.h70.fs28.text-center.mx-auto.lh-my2.italic 1
          div.text-center.pt15.pb10 お問い合わせ
          div.lh16.color2.fs14
            p.mb20 移転を考えはじめたけどどう進めていけばいいか分からない。そんな方もまずはお気軽にご相談ください。
            p また
              span.color1 『スイッチオフィス』
              | の掲載物件の内見依頼も随時受け付けておりますので、そちらもご覧下さい。
        div.col12.px20.my10
          div.color1.circle.my-border.w70.h70.fs28.text-center.mx-auto.lh-my2.italic 2
          div.text-center.pt15.pb10 ヒアリング・ご提案
          div.lh16.color2.fs14
            p.mb20 今後の事業戦略・採用戦略などをお聞かせ頂きながら、適切な移転要件の洗い出しを行い、候補物件を提案します。移転費用を抑えられる居抜き物件のご紹介も併せて行います。
        div.col12.px20.my10
          div.color1.circle.my-border.w70.h70.fs28.text-center.mx-auto.lh-my2.italic 3
          div.text-center.pt15.pb10 内見・申込
          div.lh16.color2.fs14
            p.mb20 実際に候補のオフィス物件をご覧頂き、希望の物件に申込を入れます。オフィス移転のプロとして内覧の際も様々な観点からのアドバイスをさせて頂きます。
        div.col12.px20.my10
          div.color1.circle.my-border.w70.h70.fs28.text-center.mx-auto.lh-my2.italic 4
          div.text-center.pt15.pb10 審査・契約
          div.lh16.color2.fs14
            p.mb20 状況に応じての審査フォロー、契約文言の調整等を行い、賃貸借契約を結ぶまでのあらゆるサポートを行います。
            p 契約までのサポートをさせて頂いた場合のみ、仲介手数料１ヶ月分の費用が発生します。
      div.text-center.px40.my70
        div.bg-color4.white.rounded-6.py15.fs18.my-fw お気軽にご相談下さい！ 
          i(aria-hidden="true").fa.fa-chevron-circle-right.white.fs18.ml10

    section#siteMap.bg-color3
      div.bg-color5.white.fs12.my-ls.p30.text-center ヒトカラメディアは「働く場」と「働き方」を追求し、新たな価値を作り続けます。
      div.white.row.fh.py50
        ul.fs13.ls-square
          li.col12.bg-color6.py10.px10: a(href="#") サービス一覧
          ul.my-ti.bg-color6.ls-square
            li.py10: a(href="#") オフィス選定・仲介
            li.py10: a(href="#") 空間プランニング
            li.py10: a(href="#") 居抜きオフィス移転支援
            li.py10: a(href="#") ビルオーナー支援
            li.py10: a(href="#") スイッチオフィス
            li.py10: a(href="#") パターンオーダーオフィス
            li.py10: a(href="#") タウナー不動産 軽井沢
            li.py10: a(href="#") 軽井沢ワープ
          li.col12.bg-color6.py10.px10.mt40: a(href="#") 会社情報
          ul.my-ti.bg-color6.ls-square
            li.py10: a(href="#") メンバー紹介
            li.py10: a(href="#") オフィス紹介
            li.py10: a(href="#") ヒトカラカルチャー
            li.py10: a(href="#") 採用情報
            li.py10: a(href="#") 会社概要
          li.col12.bg-color6.py10.px10.mt40: a(href="#") 記事一覧
          li.col12.bg-color6.py10.px10: a(href="#") オフィス移転マニュアル
          li.col12.bg-color6.py10.px10: a(href="#") オフィス移転セミナー
          li.col12.bg-color6.py10.px10: a(href="#") プライバシーポリシー
          li.col12.bg-color6.py10.px10: a(href="#") サイトポリシー
          li.col12.bg-color6.py10.px10: a(href="#") お問い合わせ
      div.px30
        img(src="images/white-hitokaralogo-01.png").w100per
        div.white.fs13.lh18.mt10.mb40 ヒトカラメディアは『「都市」と「地方」の「働く」と「暮らす」をもっとオモシロくする』というミッション、『「働く場」と「働き方」からいきいきとした組織と個人を増やす』というビジョンを実現すべく、それぞれの会社やメンバーにとっての理想的な「働く場」「働き方」を提案していく会社です。
      div.border-bottom.border-white

    footer.bg-color3.white.fs10.p30.italic &copy; 2013 株式会社ヒトカラメディア｜「働く場」と「働き方」からいきいきとした組織と個人を増やす

    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(src="js/main.js")