doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimal-ui")
    title chapter6 lesson25
    link(rel="stylesheet" href="css/style25.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.0/meltline.css")
  body
    header
      div.bg-ghostwhite.cornflowerblue.bold.text-center.py200.fs70 Sticky Header
    div#tabbar.h100
      ul#nav.w100per.row.bg-cornflowerblue.ghostwhite.text-center.h100
        li.col3.lh100.border.border-ghostwhite Menu1
        li.col3.lh100.border.border-ghostwhite Menu2
        li.col3.lh100.border.border-ghostwhite Menu3
        li.col3.lh100.border.border-ghostwhite Menu4
    //- nav
    //-   ul.w100per.row.bg-cornflowerblue.ghostwhite.text-center.fixed.t0.l0.r0
    //-     li.col3.py30.border.border-ghostwhite Menu1
    //-     li.col3.py30.border.border-ghostwhite Menu2
    //-     li.col3.py30.border.border-ghostwhite Menu3
    //-     li.col3.py30.border.border-ghostwhite Menu4

    section.px20.py50.mt260.dimgray
      div.mb50
        div.fs40.bold Title1
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title2
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title3
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title4
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title5
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title6
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa


    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main25.js")