doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimal-ui")
    title chapter6 lesson24
    link(rel="stylesheet" href="css/style24.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.0/meltline.css")
  body
    header.f.flex-between.red.bg-yellow.fixed.t0.l0.w100per
      div.bold Resize Header
      ul.f.flex-around.pt30
        li.px10.bold Menu1
        li.px10.bold Menu2
        li.px10.bold Menu3
        li.px10.bold Menu4
        li.px10.bold Menu5
    section.px20.py50.mt260
      div.mb50
        div.fs40.bold Title1
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title2
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title3
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title4
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title5
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
      div.mb50
        div.fs40.bold Title6
        p.lh20
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
          |asdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsaasdfjkl;;lkjfdsa
    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main24.js")