doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimal-ui")
    title chapter7 lesson29
    link(rel="stylesheet" href="css/style29.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/gh/phi-jp/meltline@v0.1.0/meltline.css")
  body.bg-cornflowerblue.text-center
    div.ghostwhite.bold.text-center.fs50.py30 Zoom
    div.f.fc
        div#thumb.w400.h400.mx10
            img(src="../images/photo13.jpg" width="400" height="400" alt="thumb")
            span#pointer.my-bg-color.w40.h40.absolute.t0.l0    
        div#zoom.w400.h400.mx10.relative.overflow-hidden
            img(src="../images/photo13.jpg" width="4000" height="4000" alt="zoom").absolute

    script(src="js/jquery-3.2.1.min.js")
    script(src="js/main29.js")